.item {
    width: 200px;
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

$level1-height: 250px;
$level1-width: 310px;
$level0-height: 340px;
$level0-width: 362px;

$level-1-left: 690px;
$level0-left: 320px;
$level1-left: 0px;

.level-1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    left: $level-1-left;
    margin-top: 60px;
}

.level0 {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    left: $level0-left;
}

.level1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    margin-top: 60px;
    left: $level1-left;
}

.left-enter {
    opacity: 0;
    left: $level1-left - $level1-width;
    height: $level1-height - 30;
    width: $level1-width - 20;
    line-height: $level1-height - 30;
    margin-top: 40px;
}

.left-enter.left-enter-active {
    opacity: 1;
    left: $level1-left;
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    margin-top: 25px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 1;
    left: $level-1-left;
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    margin-top: 25px;
}

.left-leave.left-leave-active {
    left: $level-1-left + $level1-width + 20;
    opacity: 0;
    height: $level1-height - 30;
    line-height: 120px;
    margin-top: 40px;
    width: $level1-width - 20;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    opacity: 0;
    left: $level-1-left + $level1-width;
    height: $level1-height - 30;
    width: $level1-width - 20;
    line-height: $level1-height - 30;
    margin-top: 40px;
}

.right-enter.right-enter-active {
    left: $level-1-left;
    opacity: 1;
    height: $level1-height;
    margin-top: 25px;
    line-height: $level1-height;
    width: $level1-width;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: $level1-left;
    height: $level1-height;
    opacity: 1;
    margin-top: 25px;
    line-height: $level1-height;
    width: $level1-width;
}

.right-leave.right-leave-active {
    left: $level1-left - $level1-width;
    opacity: 0;
    height: $level1-height - 30;
    width: $level1-width - 20;
    line-height: $level1-height - 30;
    margin-top: 40px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

